:-webkit-full-screen {
  width: 100%;
  height: 100%;
}

:-webkit-full-screen button {
  position: fixed;
  z-index: 1000;
}

:-moz-full-screen {
  width: 100%;
  height: 100%;
}

:-moz-full-screen button {
  position: fixed;
  z-index: 1000;
}

.pac-container {
  @apply mt-2 rounded-xl border-t-0 bg-white p-1.5 shadow-md dark:bg-full-dark;

  & .pac-item {
    @apply rounded-lg border-t-0 text-main-m dark:!text-main-dark-m;
  }

  & .pac-item:hover {
    @apply cursor-pointer bg-gray-200 dark:bg-dark;
  }

  & .pac-item-query {
    @apply text-main-h dark:text-main-dark-h;
  }
}

.pac-logo:after {
  @apply !hidden;
}

.gm-style .gm-style-iw-c {
  @apply rounded-xl bg-white !p-4 text-main-h shadow-md dark:bg-full-dark dark:text-main-dark-h;

  & .gm-style-iw-chr {
    @apply absolute right-0 top-0;
  }

  & .gm-ui-hover-effect {
    @apply !m-2 !flex !size-7 items-center justify-center rounded-full !bg-black/10 !opacity-100 dark:!bg-white/10;

    &:hover {
      @apply !opacity-80;
    }
    & span {
      @apply !m-0 !size-4 text-clip drop-shadow;
    }
  }

  & .gm-style-iw-d {
    @apply !scrollbar-hide;
  }

  & *:not(.gm-ui-hover-effect > *) {
    @apply !bg-transparent;
  }

  & .transit-title > span {
    @apply !hidden;
  }

  & .view-link {
    @apply !hidden;
  }
}

.gmnoprint {
  @apply !hidden;
}

.gm-style-cc {
  @apply !hidden;
}

.gm-style a > div > img {
  @apply !hidden;
}

.gm-style-iw-d {
  @apply !mt-6;
  & .address {
    @apply !flex flex-col gap-1;

    & * {
      @apply text-main-h dark:!text-main-dark-h;
    }
  }
}

.gm-title.gm-full-width {
  @apply !fixed left-0 top-0 !m-4 capitalize !text-main dark:!text-main-dark;
}
